@import '../../App.scss';

body{
  background: url("../../images/background.png");
}
.content{
    height: 100vh;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;

    .welcome{

        h1{
            font-weight: bold;
            font-size: 4em;
        }

    }

    // Login 
    .login{
        width: 100%;
        height: auto;
        padding: 30px 40px 40px 40px;
        background: $color2_opacity;
        text-align: center;
        border-radius: 50px;
        backdrop-filter: blur(5px);    

        h3{
            font-weight: bold;
            color: white;
            margin: 0 0 10px 0;
        }

        p{
            margin: 10px 0 0 0;
        }

        input{ 
            width: 100%;
            padding: 7px 15px;
            margin: 0 0 15px 0;
            color: white;
            background-color: transparent;
            border-bottom: 1px solid white;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            outline: 0;

            &:focus{
                border-color: $color2_hover;
            }
            
            &::placeholder{
                color: #cfcfcf;
            }

        }

        img{
            width: 120px;
            height: 120px;
            margin: 0 0 15px 0;
            border-radius: 50%;
        }

        button{
            width: 45%;
            border-radius: 50px;
            margin: 5px 2.5%;
            padding: 15px 0;
            border: 0;
            font-size: .9em;
            font-weight: bold;
            color: $color2;
        }

        .icon{
            position: absolute;
            margin-top: 6px;
            margin-left: -20px;
            color: white;
            cursor: pointer;
        }

    }

}